.topicos{
    background:var(--degrade);
    text-align: center;
}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    padding: 2em 0 1.5em 0;

}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5em;
}
.topicos__link{
    color: var(--branco);
    text-decoration: none;
    padding: 1em;
    background-color: var(--amarelo);
    font-size: 14px;
    font-weight: 700;
}
.topicos__item{
    margin: 2em 0.5em;
}
.topicos__link:hover{
    color: var(--amarelo);
    background-color: var(--branco);
}
@media screen and (min-width:1024px) {
    .topicos__link{
        font-size: 24px;
        padding: 1em 1.333333333em;
    }
    .topicos__item{
        margin: 2em 0;
    }
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__lista{
        gap: 1em;
        width: 90%;
        margin: 0 auto;
    }
    .topicos{
        padding: 1em 20vw;
    }   

}
@media screen and (min-width:1728px) {
    .topicos{
        padding: 1em 30vw;
    }   
}